html, body.home {
	@include munro;
	background: black;
	color: $green;
	position:relative;

	section.home {
		header.menu {
			position:fixed;
			top: 0;
			left: 0;
			width: 100%;
			background: $lightgray;
			color: #EEE;
			h1 {
				font-size: 1em;
			}
		}
	}

}