

doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Legend of the Ruby Drake
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='stylesheet', href='/static/css/tests.css')
    script(src='/static/lib/modernizr/modernizr.js')
  body
    script(src='/static/js/libs.develop.js')
    script(src='/static/js/templates.develop.js')
    script(src='/static/js/app.develop.js')
